.trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 4px;
}

.item {
  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;

  padding: 12px 0;

  border-bottom: 1px solid var(--color-dark-500);
  outline: none;

  &:first-child {
    padding: 0 0 12px;
  }

  &:last-child {
    padding: 12px 0 0;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &[data-disabled] {
    pointer-events: none;
    cursor: unset;
  }
}

.arrow_block {
  fill: var(--color-dark-700);
  stroke: var(--color-dark-500);
  stroke-width: 2px;
}

.arrow {
  position: absolute;
  top: -4px;
  left: calc(50% - 3px);
  transform: rotate(45deg);

  width: 7px;
  height: 7px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-left: none;
}
