.backLink {
  display: flex;
  gap: 6px;
  align-items: center;

  width: 150px;
  margin-bottom: 33px;

  text-decoration: none;
}

.card {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 33px 36px 36px;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.question {
  margin-bottom: 35px;

  & .shots {
    color: var(--color-dark-100);
  }
}

.imgCard {
  margin-top: 10px;
}

.img {
  width: 100%;
  max-height: 170px;
  background-size: cover;
  border-radius: 2px;
}

.answer {
  margin-bottom: 12px;
}

.learnBtn {
  margin-top: 29px;
}
