%container {
  display: flex;
  gap: 12px;
  align-items: center;

  width: 100%;
  max-width: 251px;
}

.container {
  @extend %container;
}

.disabled {
  @extend %container;

  opacity: 0.5;
}

.root {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 200px;
  height: 20px;
}

.track {
  position: relative;

  flex-grow: 1;

  height: 3px;

  background-color: var(--color-accent-900);
  border-radius: 2px;
}

.range {
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-500);
  border-radius: 2px;
}

.thumb {
  touch-action: pan-x;
  cursor: pointer;

  display: block;

  width: 16px;
  height: 16px;

  background-color: var(--color-light-100);
  border: 4px solid var(--color-accent-500);
  border-radius: 10px;

  transition: transform 0.2s ease-in-out;

  &:hover {
    border-color: var(--color-accent-300);
  }

  &:focus {
    border-color: var(--color-accent-300);
    outline: none;
  }
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  color: white;
  text-align: center;

  background-color: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  position: relative;
  margin: 0;
  appearance: none;
}
