.title {
  padding-bottom: 5px;
}

.tabsRoot {
  display: flex;
  flex-direction: column;

  max-width: fit-content;

  border: 1px solid var(--dark-300, #4c4c4c);
  border-radius: 3px;
}

.tabsList {
  display: flex;
  white-space: nowrap;
}

.tabsTrigger {
  user-select: none;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  padding: 6px 24px;

  font-family: inherit;
  font-size: 15px;
  line-height: 1;
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border-top: none;
  border-right: 1px solid var(--color-dark-300);
  border-bottom: none;
  border-left: none;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-right: none;
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    background-color: var(--color-dark-300);
  }
}

[data-state='active'] {
  background-color: var(--color-accent-500);
  outline: none;
}
