.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 60px;
  margin: 0 auto;
}

.title {
  margin-bottom: 51px;
  text-align: center;
}

.description {
  padding: 19px 0 41px;
  opacity: 0.5;
}
