.root {
  width: 100%;
}

.inputContainer {
  display: flex;
  gap: 9px;
  align-items: center;

  height: 36px;
  padding: 6px 12px;

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: 0.2s ease-out;

  &.error {
    border-color: var(--color-danger-300);
  }

  &.error:focus-within {
    border-color: var(--color-danger-300);
    outline: 1px solid var(--color-danger-300);
  }

  &:focus-within:not(.error) {
    border: 1px solid var(--color-info-900);
    outline: 1px solid var(--color-info-900);
  }

  &:hover:not(.disabled) {
    background-color: var(--color-dark-700);
  }
}

.input {
  all: unset;
  width: 100%;

  &:disabled::placeholder {
    color: var(--color-dark-300);
  }
}

.icon {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  color: var(--color-light-100);

  &:disabled {
    color: var(--color-dark-300);
  }
}

.error {
  line-height: 24px !important;
  color: var(--color-danger-300) !important;
}

.label {
  user-select: none;
  color: var(--color-dark-100) !important;

  &.disabled {
    color: var(--color-dark-300) !important;
  }
}
