.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 29px;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 12px;
}

.forgotPassLink {
  display: flex;
  justify-content: flex-end;
  margin: 6px 0 66px;
}

.caption {
  margin-top: 20px;
  margin-bottom: 11px;
  text-align: center;
}

.signUpLink {
  cursor: pointer;

  display: flex;
  justify-content: center;

  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--color-accent-500);
  text-decoration-line: underline;
}
